html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, p {
  font-size: 1.2rem;
  line-height: 2rem;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  max-width: 55ch;
}

h1, h2, h3, h4, h5, .happy-quote strong, h6 {
  margin: unset;
  margin-bottom: 1rem;
}

h1 {
  font-size: 4rem;
  line-height: 4.5rem;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.7rem;
  line-height: 3rem;
}

h4 {
  font-size: 2.3rem;
}

h5, .happy-quote strong, .subtitle {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

.two-col {
  display: grid;
  align-items: center;
  grid-gap: 5%;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
@media screen and (max-width: 500px) {
  .two-col {
    grid-template-columns: 1fr;
  }
}

.three-col {
  display: grid;
  width: 100%;
  grid-gap: 5%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@media screen and (max-width: 500px) {
  .three-col {
    grid-template-columns: 1fr;
  }
}

html {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  color: #404141;
}

h1, h2, h3, h4, h5, .happy-quote strong, h6 {
  font-family: "Alegreya", serif;
  font-weight: 700;
  color: black;
}

a {
  color: black;
}
a:hover {
  color: #F70509;
  text-decoration: none;
}

.container {
  max-width: 1300px;
  width: 90%;
  display: block;
  margin: auto;
}

footer,
section {
  padding: 2rem;
}
@media screen and (max-width: 600px) {
  footer,
section {
    padding-left: unset;
    padding-right: unset;
  }
}

.alt-section, .subheader {
  background-color: #EDF6F6;
  border-top: 1px solid #99CBCB;
  border-bottom: 1px solid #99CBCB;
}

.subtitle {
  font-family: "Alegreya", serif;
  font-style: italic;
  font-weight: 400;
  display: block;
  line-height: 1.5;
}

.logo {
  display: block;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 325px;
  height: 110px;
}
@media screen and (max-width: 800px) {
  .logo {
    width: 250px;
  }
}

.nav-well {
  font-family: "Alegreya", serif;
  font-weight: 700;
  display: grid;
  grid-template-columns: minmax(200px, auto) 1fr;
  align-items: center;
  grid-gap: 1rem;
}
.nav-well a {
  text-decoration: none;
}
.nav-well a:hover {
  text-decoration: underline;
}
.nav-well #menu-icon {
  float: right;
  font-size: 2rem;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 800px) {
  .nav-well #menu-icon {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .nav-well #menu-well {
    display: none;
  }
}
.nav-well ul {
  padding: 0;
  margin: 0;
  text-align: right;
}
@media screen and (max-width: 800px) {
  .nav-well ul {
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    padding-top: 6rem;
    z-index: 1;
  }
}
.nav-well ul li {
  display: inline;
  margin-right: 2rem;
  font-size: 2rem;
}
@media screen and (max-width: 800px) {
  .nav-well ul li {
    display: block;
    margin: unset;
    padding: 1.5rem;
    font-size: 3rem;
  }
}

header {
  background-color: #EDF6F6;
  padding-bottom: 1rem;
}
header .container {
  border-bottom: 1px solid #99CBCB;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.subheader {
  border-top: hidden;
}

.banner-text {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.banner-text .button {
  margin-top: 1rem;
  display: inline-block;
}

.doodle-lightbulb {
  display: block;
  background-image: url("../img/light-off.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-size: 90%;
  width: 13rem;
  height: 13rem;
  margin-top: -2rem;
  float: right;
}
@media screen and (max-width: 600px) {
  .doodle-lightbulb {
    display: none;
  }
}
.doodle-lightbulb:hover {
  background-image: url("../img/light-on.png");
}

.doodle-scribble {
  display: block;
  background-image: url("../img/scribble-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin: auto;
  width: 250px;
  height: 80px;
  margin-bottom: 2rem;
}

.doodle-me {
  display: block;
  background-image: url("../img/me.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 90%;
  height: 30rem;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .doodle-me {
    height: 40vh;
    margin-bottom: 2rem;
  }
}

.content {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.content .title {
  max-width: 850px;
  margin: auto;
}

.page-body {
  padding-top: 6rem;
}
.page-body .arrow-text {
  margin-left: 0;
  margin-top: -8.5rem;
  float: left;
}
@media screen and (max-width: 1100px) {
  .page-body .arrow-text {
    margin-left: -5rem;
  }
}
@media screen and (max-width: 1000px) {
  .page-body .arrow-text {
    display: none;
  }
}
.page-body .doodle-scribble {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.page-body .content-well {
  max-width: 68ch;
  display: block;
  margin: auto;
  margin-top: -3rem;
}
.page-body .content-well p {
  max-width: unset;
}
.page-body .list-well {
  max-width: 650px;
  margin: auto;
}
.page-body .list-well article {
  border-bottom: 1px solid #99CBCB;
  padding-bottom: 0.5rem;
  margin-top: 2.5rem;
}
.page-body .list-well article:first-child {
  margin-top: unset;
}

#about, footer {
  background-image: url("../img/paint-line.svg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position-y: 8%;
  background-position-x: -10%;
}

.arrow-text {
  font-size: 2rem;
  font-family: "Alegreya", serif;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  display: block;
  margin: auto;
  width: 200px;
  background-image: url("../img/arrow-line.svg");
  background-repeat: no-repeat;
  background-size: 32%;
  background-position: center center;
  padding-top: 7.6rem;
  padding-bottom: 6.3rem;
  margin-top: -6.5rem;
  margin-bottom: 1rem;
}
.arrow-text span {
  background-color: white;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.arrow-text .alt {
  background-color: #EDF6F6;
}

.cc {
  font-size: medium;
}

.msg {
  margin-bottom: 1rem;
  margin-top: -1rem;
  font-family: "Architects Daughter", cursive;
}

.center {
  text-align: center;
}

footer {
  background-position-y: 2.5%;
  padding-top: 3rem;
}
@media screen and (max-width: 770px) {
  footer .banner-text {
    margin-bottom: unset;
  }
}
footer .social-links {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}
footer .social-links a {
  margin-right: 0.8rem;
  font-size: 1.8rem;
}

.e404 {
  margin-top: 10rem;
  margin-bottom: 10rem;
  text-align: center;
}
.e404 p {
  margin: auto;
  margin-bottom: 2rem;
}

#about {
  padding-bottom: 5rem;
}

#services {
  background-image: url("../img/tech-line-white.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position-y: 10%;
}

#testimonials {
  background-image: url("../img/sunday.svg");
  background-repeat: no-repeat;
  background-position-y: 170px;
  background-position-x: center;
  background-size: 320px;
  min-height: 550px;
}
@media screen and (max-width: 1175px) {
  #testimonials {
    background-position-x: 90%;
    padding-bottom: 5rem;
  }
}
@media screen and (max-width: 800px) {
  #testimonials {
    background-position-x: center;
    padding-bottom: 20rem;
    background-position-y: 45rem;
  }
}

.button {
  font-family: "Alegreya", serif;
  font-weight: 700;
  background-color: #FFAF73;
  padding: 0.7rem 2rem;
  border: 1px solid #F76C05;
  color: #404141;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
}
.button:hover {
  background-color: #F76C05;
  color: white;
}

.happy-quote p {
  margin: 0;
  margin-top: 0.5rem;
  font-size: 90%;
}
.happy-quote .credit {
  font-size: medium;
  font-weight: bold;
  color: black;
  font-style: italic;
}
.doodle-office {
  display: block;
  background-image: url("../img/office.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 35rem;
  margin: auto;
}
@media screen and (max-width: 960px) {
  .doodle-office {
    background-size: 70%;
  }
}
@media screen and (max-width: 770px) {
  .doodle-office {
    background-size: 90%;
  }
}
@media screen and (max-width: 600px) {
  .doodle-office {
    background-size: 88%;
    height: 45vh;
  }
}

@media screen and (min-width: 600px) {
  .intro-banner .lb {
    display: block;
  }
}
.intro-banner .subtitle {
  line-height: 1;
}
.intro-banner .banner-text {
  width: 60%;
}
@media screen and (max-width: 600px) {
  .intro-banner .banner-text {
    width: unset;
    margin: auto;
  }
}

.doodle-confection {
  display: block;
  background-image: url("../img/confection.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 95%;
  height: 34rem;
  margin-right: 0;
  margin-right: auto;
}
@media screen and (max-width: 1000px) {
  .doodle-confection {
    width: 70%;
    margin: auto;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 600px) {
  .doodle-confection {
    margin-top: -2rem;
    height: 40vh;
    width: 80%;
    margin-bottom: 3rem;
  }
}

.work {
  overflow: hidden;
}

.doodle-globe {
  display: block;
  background-image: url("../img/globe.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 95%;
  height: 34rem;
  margin-right: 0;
  margin-right: auto;
  margin-bottom: -17rem;
}
@media screen and (max-width: 1000px) {
  .doodle-globe {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -5rem;
  }
}
@media screen and (max-width: 600px) {
  .doodle-globe {
    width: 80%;
  }
}

.featured-image {
  display: block;
  margin: auto;
  height: 600px;
  width: 65%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-bottom: -19rem;
  margin-top: 2rem;
}
@media screen and (max-width: 600px) {
  .featured-image {
    margin-bottom: -10rem;
    height: 300px;
    width: 80%;
  }
}

.showcase {
  padding-top: 18rem;
}
@media screen and (max-width: 600px) {
  .showcase {
    padding-top: 10rem;
  }
}
.showcase .arrow-text {
  margin-top: -20rem;
}

/*# sourceMappingURL=style.css.map */
