
.work {
  overflow: hidden;
}


.doodle-globe {
  @include image_block('../img/globe.png');
  width: 95%;
  height: 34rem;
  margin-right: 0;
  margin-right: auto;
  margin-bottom: -17rem;

  @media screen and (max-width: 1000px){
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -5rem;
  }

  @media screen and (max-width: $bp-small){
    width: 80%;
  }
}


