// General Vars
$max-width: 1300px;
$bp-small: 700px;

@import "text";
@import "grid";

// Colors
$btn: #FFAF73;
$btn-accent: #F76C05;
$bg: #EDF6F6;
$bg_accent: #99CBCB;
$body_accent: #404141;

// Mixins
@mixin image_block($url) {
  display: block;
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

@mixin heading-font {
  font-family: 'Alegreya', serif;
  font-weight: 700;
}

@mixin accent-font {
  font-family: 'Alegreya', serif;
  font-style: italic;
  font-weight: 400;
}

@mixin body-font {
  font-family: 'Source Sans Pro', sans-serif;
  // font-family: 'Lora', serif;
  font-weight: 400;
}

// Main
html {
  @include body-font();
}

body {
  margin: 0;
  padding: 0;
  color: $body_accent;
}

h1, h2, h3, h4, h5, h6 {
  @include heading-font();
  color: black;
}

a {
  color: black;

  &:hover {
    color: #F70509;
    text-decoration: none;
  }
}

.container {
  max-width: $max-width;
  width: 90%;
  display: block;
  margin: auto;
}

footer,
section {
  padding: 2rem;
  @media screen and (max-width: $bp-small){
    padding-left: unset;
    padding-right: unset;
  }
  // padding-bottom: 3rem;
}

.alt-section {
  background-color: $bg;
  border-top: 1px solid $bg_accent;
  border-bottom: 1px solid $bg_accent;
}

.subtitle {
  @include accent-font();
  display: block;
  line-height: 1.5;
}

.logo {
  @include image_block('../img/logo.png');
  width: 325px;
  height: 110px;

  @media screen and (max-width: 800px) {
    width: 250px;

  }
}

.nav-well {
  @include heading-font();
  display: grid;
  grid-template-columns: minmax(200px, auto) 1fr;
  align-items: center;
  grid-gap: 1rem;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }


  #menu-icon {
    float: right;
    font-size: 2rem;
    position: relative;
    z-index: 2;
    cursor: pointer;

    &:hover {
      color: $btn-accent;
    }
    @media screen and (min-width: 800px) {
      display: none;
    }
  }

  #menu-well {
    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    text-align: right;
    @media screen and (max-width: 800px) {
      display: block;
      width: 100%;
      height: 100%;
      background-color: white;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      padding-top: 6rem;
      z-index: 1;
    }
    
    li {
      display: inline;

      @media screen and (max-width: 800px) {
        display: block;
        margin: unset;
        padding: 1.5rem;
        font-size: 3rem;

      }
      margin-right: 2rem;
      font-size: 2rem;
    }
  }

 
}


header {
  background-color: $bg;

  .container {
    border-bottom: 1px solid $bg_accent;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
  padding-bottom: 1rem
}

.subheader {
  @extend .alt-section;
  border-top: hidden;
}


.banner-text {
  margin-top: 5rem;
  margin-bottom: 5rem;

  .button {
    margin-top: 1rem;
    display: inline-block;
  }

}

// Doodles
.doodle-lightbulb {
  @include image_block('../img/light-off.png');
  background-size: 90%;
  width: 13rem;
  height: 13rem;
  margin-top: -2rem;
  float: right;

  @media screen and (max-width: $bp-small) {
    display: none;
  }

  &:hover {
    background-image: url('../img/light-on.png');
  }
}

.doodle-scribble {
  @include image_block('../img/scribble-white.svg');
  margin: auto;
  width: 250px;
  height: 80px;
  margin-bottom: 2rem;
}

.doodle-me {
  @include image_block('../img/me.png');
  width: 90%;
  height: 30rem;
  margin: auto;

  @media screen and (max-width: $bp-small){
    height: 40vh;
    margin-bottom: 2rem;
  }
 
}

.content {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .title {
    max-width: 850px;
    margin: auto;
  }

}

.page-body {
  padding-top: 6rem;

  .arrow-text {
    margin-left: 0;
    margin-top: -8.5rem;
    float: left;
    @media screen and (max-width: 1100px) {
      margin-left: -5rem;
    }

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  .doodle-scribble {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  .content-well {
    max-width: 68ch;
    display: block;
    margin: auto;
    margin-top: -3rem;

    p {
      max-width: unset;
    }
  }

  .list-well {
    max-width: 650px;
    margin: auto;

    article {
      border-bottom: 1px solid $bg_accent;
      padding-bottom: .5rem;
      margin-top: 2.5rem;
      
      &:first-child {
        margin-top: unset;
      }
    }
  }

}

// Sections
#about, footer {
  background-image: url('../img/paint-line.svg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position-y: 8%;
  background-position-x: -10%;
}

.arrow-text {
  font-size: 2rem;
  @include accent-font;
  text-align: center;
  display: block;
  margin: auto;
  width: 200px;
  background-image: url('../img/arrow-line.svg');
  background-repeat: no-repeat;
  background-size: 32%;
  background-position: center center;
  padding-top: 7.6rem;
  padding-bottom: 6.3rem;

  span {
    background-color: white;
    padding-bottom: .5rem;
    padding-top: .5rem;
  }

  .alt {
    background-color: $bg;
  }

  margin-top: -6.5rem;
  margin-bottom: 1rem;
}

.cc {
  font-size: medium;
}

.msg {
  margin-bottom: 1rem;
  margin-top: -1rem;
  font-family: 'Architects Daughter', cursive;
}

.center {
  text-align: center;
}

footer {
  background-position-y: 2.5%;
  padding-top: 3rem;
  @media screen and (max-width: $bp-small) {
    padding-top: unset;
    background-size: 80%;
    background-position-x: -40%;
  }

  .banner-text{
    @media screen and (max-width: 770px) {
      margin-bottom: unset;
    }
  }

  .social-links {
    margin-top: 2.5rem;
    margin-bottom: 1rem;

    a {
      margin-right: .8rem;
      font-size: 1.8rem;
    }
  }
}

.e404 {
  margin-top: 10rem;
  margin-bottom: 10rem;
  text-align: center;

  p {
    margin: auto;
    margin-bottom: 2rem;
  }

}

@import "home";
@import "work";